<template name="newsItem">
    <li>
        <div class="figure">
            <div class="column-news">
            <div class="figure-01">
                <img src="images/news/w_news_01.jpg" alt="image"> <!-- {{img}} -->
            </div>
            <div class="content-01">
                <h6><a href="#">{{title}}</a></h6>
                <p class="red_p">{{subtitle}}</p>
                <p class="describtion">{{intro}}</p>
            </div>
            <div class="news_date clearfix">
                <span>{{updated}}</span>
                <span class="like"><a href="#">{{likes}}</a></span>
            </div>
            </div>
        </div>
    </li>
</template>