<template name="newsItem">
    <li>
        <div class="figure">
            <div class="column-news">
            <div class="figure-01">
                <img src={{img}} alt={{img}}>
            </div>
            <div class="content-01">
                <h6><a href="#">{{title}}</a></h6>
                <p class="describtion">{{intro}}</p>
            </div>
            <div class="news_date clearfix">
                <span>{{date}}</span>
                <a href="#"><span class="like" data-id={{_id}}>{{likes}}</span></a>
            </div>
            </div>
        </div>
    </li>
</template>